html {
  font-size: 62.5%;
}

body {
  margin: 1rem;
}

section {
  background-color: #F5F2F0;
  padding: 1rem;
}

section > pre:last-child {
  border: .1rem dashed;
  margin-top: -1rem;
  border-radius: .4rem
}

code {
  outline: none;
}

nav {
  bottom: 1rem;
  left: 1rem;
  position: fixed;
  right: 1rem;
}

nav button:last-child {
  float: right;
}
